/* logout button */
.logout {
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 32px;
    background-color: #F6F6F6;
    border: 1px solid #D9C6B5;
}

.logout_button {
    font-size: 18px;
    text-decoration: none;
    font-family: Inika;
    color: #D9C6B5;
    background-color: #F6F6F6;
    border: none;
    cursor: pointer;
}


/* header search function */
.admin__content {
    margin: 0 auto;
    max-width: 1230px;
}

.admin__heading {
    margin-top: 50px;
    text-align: center;
    font-family: Inika;
    font-size: 35px;
    color: #8B7969;
}

.search {
    width: 1183px;
    display: flex;
    justify-content: space-between;
}

.search__input--name input {
    height: 50px;
    width: 347.47px;
    border: 1px solid #E3DED9;
    background-color: #FBFBFB;
    font-size: 16px;
    font-family: Inika;
    color: #BEB1A6;
}

.search__input--gender {
    height: 50px;
    width: 102.48px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
    font-size: 17px;
    font-family: Inika;
    color: #8B7969;
    text-align: -webkit-center;
}

.search__input--category {
    height: 50px;
    width: 235px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
    font-size: 17px;
    font-family: Inika;
    color: #8B7969;
    text-align: -webkit-center;
}

.search__input--date {
    height: 50px;
    width: 148.87px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
    font-size: 17px;
    font-family: Inika;
    color: #8B7969;
    text-align: -webkit-center;
}

.search__button--search {
    height: 50px;
    width: 102.48px;
    font-size: 17px;
    background: #8B7969;
    color: white;
    font-family: Inika;
    border: 1px solid #8B7969;
    cursor: pointer;
}

.search__button--reset {
    height: 50px;
    width: 102.48px;
    font-size: 17px;
    background: #D9C6B5;
    color: white;
    font-family: Inika;
    border: 1px solid #D9C6B5;
    cursor: pointer;
}

.function {
    width: 1183px;
    display: flex;
    justify-content: space-between;
}

.function__export {
    padding: 30px 0px;
}

.function__button--export {
    height: 39px;
    width: 148px;
    font-size: 18px;
    background: #E1DBD6;
    color: #8B7969;
    font-family: Inika;
    border: none;
    cursor: pointer;
}

.fuction-pagenation {
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: #8B7969;
}

.fuction-pagenation ul {
    padding: 3px;
    border: solid 2px #8B7969;
    border-radius: 12px;
}

.fuction-pagenation li {
    padding: 0px 6px;
    display: inline-block;
    text-decoration: none;
    /* border: solid 1px #8B7969; */
}


/* table */
.admin__table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 1183px; 
}

.admin__row {
    border: 1px solid #E0DFDE;
}

.admin__label,
.admin__data {
    color: #8B7969;
    font-size: 18px;
    padding: 12px 8px;
}

.admin__label:first-of-type,
.admin__data:first-of-type {
    padding-left: 48px;
}

.admin__label:last-of-type,
.admin__data:last-of-type {
    padding-right: 36px;
}

.admin__label {
    background-color: #8B7969;
    color: #FFF;
    text-align: left;
    font-weight: 400;
}

.admin-table__button--detail {
    height: 39px;
    width: 76px;
    font-size: 18px;
    background-color: white;
    color: #D9C6B5;
    font-family: Inika;
    border: 1px solid #D9C6B5;
    cursor: pointer;
}