.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #E0DFDE;
    background-color: white;
}

.header_text {
    font-family: Inika;
    font-size: 40px;
    color: #8B7969;
}