body {
    background-color: #F1ECE7;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 32px;
    background-color: #F6F6F6;
    border: 1px solid #D9C6B5;
}

.register_link {
    color: #D9C6B5;
    text-decoration: none;
    font-family: Inika;
}

.login-form__content {
    margin: 0 auto;
    max-width: 1230px;
}

.login-form__heading {
    margin-top: 50px;
    text-align: center;
    font-family: Inika;
    font-size: 35px;
    color: #8B7969;
}

.form_login {
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    width: 736px;
    height: 579px;
    border: 1px solid #C5B9B0;
    border-radius: 10px;
}

.login_card_inner {
    padding-top: 60px;
}

.email,
.password {
    padding-left: 150px;
}

.email_text,
.password_text {
    font-family: Inika;
    font-size: 25px;
    color: #8B7969;
}

.email input,
.password input {
    width: 445px;
    height: 55px;
    font-family: Inika;
    font-size: 14px;
    color: #8B7969;
    background-color: #F4F4F4;
    border: none;
    padding-left: 30px;

}

.login_button {
    margin-top: 100px;
    text-align: center;
}

.login_button_text {
    padding: 10px;
    width: 160px;
    height: 46px;
    font-family: Inika;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}